*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore

# APK & release artifacts
/app/release/
*.apk
*.aab

# Google Services (if added later)
google-services.json

# NDK
obj/

# IntelliJ
out/

# OS-specific
Thumbs.db
